In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('survey.csv')
print(df.shape)
df.head(5)

(1259, 27)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [3]:
# Gender Cleanup
print(df['Gender'].unique())
df['Gender'] = df['Gender'].str.lower()
df.loc[df['Gender'].str.contains(r'f'), 'Gender'] = 'Female'
df.loc[df['Gender'].isin(['m', 'male', 'man']), 'Gender'] = 'Male'
df.loc[(df['Gender'] != 'Male') & (df['Gender'] != 'Female'), 'Gender'] = 'Other'

['Female' 'M' 'Male' 'male' 'female' 'm' 'Male-ish' 'maile' 'Trans-female'
 'Cis Female' 'F' 'something kinda male?' 'Cis Male' 'Woman' 'f' 'Mal'
 'Male (CIS)' 'queer/she/they' 'non-binary' 'Femake' 'woman' 'Make' 'Nah'
 'All' 'Enby' 'fluid' 'Genderqueer' 'Female ' 'Androgyne' 'Agender'
 'cis-female/femme' 'Guy (-ish) ^_^' 'male leaning androgynous' 'Male '
 'Man' 'Trans woman' 'msle' 'Neuter' 'Female (trans)' 'queer'
 'Female (cis)' 'Mail' 'cis male' 'A little about you' 'Malr' 'p' 'femail'
 'Cis Man' 'ostensibly male, unsure what that really means']

In [4]:
print(df['Gender'].value_counts())

Gender
Male      973
Female    247
Other      39
Name: count, dtype: int64

In [5]:
# timestamp, describing the time the survey was submitted, the majority of them are the same
df.drop('Timestamp', axis=1, inplace=True)

In [6]:
# age contains -1726, 329, -1, 99999
print(df.Age.unique())
print(len(df.loc[df['Age'].isin([-1726, 329, -1, 99999999999])])) # only 4 rows, can be dropped

[         37          44          32          31          33          35
          39          42          23          29          36          27
          46          41          34          30          40          38
          50          24          18          28          26          22
          19          25          45          21         -29          43
          56          60          54         329          55 99999999999
          48          20          57          58          47          62
          51          65          49       -1726           5          53
          61           8          11          -1          72]
4

In [7]:
df.drop(df[df['Age'].isin([-1726, 329, -1, 99999999999])].index, inplace=True)
df['Age'] = df['Age'].apply(lambda x: abs(x))

In [8]:
# country, we can do sth like United States versus others
df.Country.value_counts()

Country
United States             749
United Kingdom            184
Canada                     72
Germany                    45
Ireland                    27
Netherlands                27
Australia                  21
France                     13
India                      10
New Zealand                 8
Poland                      7
Switzerland                 7
Sweden                      7
Italy                       7
South Africa                6
Belgium                     6
Brazil                      6
Israel                      5
Singapore                   4
Bulgaria                    4
Austria                     3
Mexico                      3
Russia                      3
Finland                     3
Denmark                     2
Greece                      2
Colombia                    2
Croatia                     2
Portugal                    2
Moldova                     1
Georgia                     1
Bahamas, The                1
China                       1
Czech Republic              1
Thailand                    1
Norway                      1
Latvia                      1
Nigeria                     1
Japan                       1
Hungary                     1
Bosnia and Herzegovina      1
Uruguay                     1
Spain                       1
Romania                     1
Costa Rica                  1
Slovenia                    1
Philippines                 1
Name: count, dtype: int64

In [9]:
# state, most of them are from California, lack of variety
df.state.value_counts()

state
CA    138
WA     70
NY     57
TN     45
TX     44
IL     29
OR     29
OH     29
PA     29
IN     27
MI     22
MN     21
MA     20
FL     15
NC     14
VA     14
WI     12
GA     12
MO     12
UT     11
CO      9
MD      8
AL      7
AZ      7
OK      6
NJ      6
KY      5
SC      5
IA      4
CT      4
DC      4
NV      3
VT      3
SD      3
KS      3
NH      3
WY      2
NM      2
NE      2
WV      1
ID      1
MS      1
RI      1
LA      1
ME      1
Name: count, dtype: int64

In [10]:
df.drop('state', axis=1, inplace=True)

In [11]:
# we can do a test to see whether self_employed is correlated with mental health
print(len(df[df['self_employed'].isna()]))
print(df.self_employed.value_counts())

18
self_employed
No     1093
Yes     144
Name: count, dtype: int64

In [12]:
# same as these values
print(df.family_history.value_counts())
print(df.treatment.value_counts())
print(df.work_interfere.value_counts())
print(df.no_employees.value_counts())

family_history
No     765
Yes    490
Name: count, dtype: int64
treatment
Yes    633
No     622
Name: count, dtype: int64
work_interfere
Sometimes    464
Never        213
Rarely       173
Often        141
Name: count, dtype: int64
no_employees
6-25              289
26-100            288
More than 1000    282
100-500           176
1-5               160
500-1000           60
Name: count, dtype: int64

In [13]:
print(df.remote_work.value_counts())
print(df.tech_company.value_counts())
print(df.care_options.value_counts())

remote_work
No     881
Yes    374
Name: count, dtype: int64
tech_company
Yes    1028
No      227
Name: count, dtype: int64
care_options
No          500
Yes         441
Not sure    314
Name: count, dtype: int64

In [14]:
# drop columns we don't need
df.drop(['benefits', 'wellness_program', 'seek_help', 'anonymity', 'leave',
'mental_health_consequence', 'phys_health_consequence', 'obs_consequence', 'coworkers', 'supervisor',
'mental_health_interview', 'phys_health_interview', 'mental_vs_physical', 'comments'], axis=1, inplace=True)

In [15]:
df.columns
df.head()

,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,care_options
0,37,Female,United States,NaN,No,Yes,Often,6-25,No,Yes,Not sure
1,44,Male,United States,NaN,No,No,Rarely,More than 1000,No,No,No
2,32,Male,Canada,NaN,No,No,Rarely,6-25,No,Yes,No
3,31,Male,United Kingdom,NaN,Yes,Yes,Often,26-100,No,Yes,Yes
4,31,Male,United States,NaN,No,No,Never,100-500,Yes,Yes,No

In [26]:
# Age contains 5, 8, 11. Does not make sense.
df.drop(df[df['Age'].isin([5, 8, 11])].index, inplace=True)

In [39]:
df.Age.unique()

array([37, 44, 32, 31, 33, 35, 39, 42, 23, 29, 36, 27, 46, 41, 34, 30, 40,
       38, 50, 24, 18, 28, 26, 22, 19, 25, 45, 21, 43, 56, 60, 54, 55, 48,
       20, 57, 58, 47, 62, 51, 65, 49, 53, 61, 72])

In [45]:
def age_range(x):
    if x < 20:
        return 'Under 20'
    elif x >= 20 and x < 30:
        return '20-29'
    elif x >= 30 and x < 40:
        return '30-39'
    elif x >= 40 and x < 50:
        return '40-49'
    else:
        return 'above 50' 

df['Age_range'] = df['Age'].apply(age_range)

In [46]:
df.Age_range.value_counts()

Age_range
30-39       554
20-29       501
40-49       149
above 50     32
Under 20     16
Name: count, dtype: int64

In [51]:
# work_interfere contains lots of missing values
df.drop(columns='work_interfere', inplace=True)

In [53]:
df.to_csv('cleanupSurvey.csv')